[tool.poetry]
authors = ["Darkflame72 <leon@bowie-co.nz>"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Topic :: Games/Entertainment",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Utilities",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]
description = "Asyncpixel"
documentation = "https://asyncpixel.readthedocs.io"
homepage = "https://github.com/Obsidion-dev/asyncpixel"
license = "GPLv3"
name = "asyncpixel"
readme = "README.md"
repository = "https://github.com/Obsidion-dev/asyncpixel"
version = "1.0.3"

[tool.poetry.dependencies]
aiohttp = "^3.6.2"
importlib_metadata = {version = ">=2,<4", python = "<3.8"}
pydantic = "^1.7.3"
python = "^3.7"

[tool.poetry.dev-dependencies]
Pygments = "^2.7.4"
aioresponses = "^0.7.1"
black = "^20.8b1"
coverage = {extras = ["toml"], version = "^5.3"}
darglint = "^1.5.8"
flake8 = "^3.8.4"
flake8-annotations = "^2.4.1"
flake8-bandit = "^2.1.2"
flake8-black = "^0.2.1"
flake8-bugbear = "^20.11.1"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
flake8-rst-docstrings = "^0.0.14"
mypy = "^0.790"
nox = "^2020.8.22"
nox-poetry = "^0.7.1"
pep8-naming = "^0.11.1"
pre-commit = "^2.8.2"
pre-commit-hooks = "^3.3.0"
pytest = "^6.1.2"
pytest-asyncio = "^0.14.0"
recommonmark = "^0.7.1"
reorder-python-imports = "^2.3.6"
safety = "^1.10.2"
sphinx = "^3.3.1"
sphinx-autobuild = "^2020.9.1"
sphinx-autodoc-typehints = "^1.11.1"
sphinx-rtd-theme = "^0.5.0"
typeguard = "^2.9.1"

[tool.coverage.paths]
source = ["asyncpixel"]

[tool.coverage.run]
branch = true
source = ["asyncpixel"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
